.welcome-message {
  text-align: center;
  margin-bottom: 20px; }
  .welcome-message__title {
    font-size: 22px;
    font-weight: 700;
    color: #34395e; }
  .welcome-message__subtitle {
    font-size: 14px;
    color: #8e8fa3; }
